.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
  background-color: #1289A7;
  border-color: #1289A7;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
  background-color: #F79F1F;
  border-color: #F79F1F;
}
