.btn {
  margin-right: 5px;
  margin-top: 10px;
}
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
  background-color: #F79F1F;
  border-color: #F79F1F;
}

li {
  list-style-type: none;
}
